@model StudyCircleManagementSystem.BusinessLayer.CourseManager

@{
    ViewBag.Title = "Manager";
}

<h2>Manager</h2>

<fieldset>
    <legend>CourseManager</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
